/* ==== FONTS === */

@font-face {
  font-family: 'Avenir';
  src: url('../vendor/fonts/avenir/AvenirNextLTPro-Bold.otfwebfont.eot');
}

body{
    font-family: 'Avenir';
}

/* ===== NAVBAR ====== */

.navbar .nav>li>a {
  line-height: 30px;
  color: #000000;
}

.navbar-custom {
  font-weight: 400;
  font-size: 14px;
  color: #7CB63D;
  background-color: #ffffff;
  border-color: transparent;
}

.navbar-custom .nav li a {
  font-weight: 400;
  letter-spacing: 1px;
  color: #006600;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #ffffff;
  background-color: #7CB63D;
}

.navbar-custom .navbar-nav>.active>a:hover,
.navbar-custom .navbar-nav>.active>a:focus {
  background-color: #7CB63D;
}

/* SERVICES IMAGE */

.services {
  background: linear-gradient(
      rgba(87, 122, 46, 0.71),
      rgba(87, 122, 46, 0.71)
    ),url('servicesbg.jpg');
  text-shadow: 0px 1px 3px rgba(255,255,255,0);
  background-blend-mode: hard-light;
  height: 80vh;
  color: white;
}

@media (min-width: 1200px) {
.services {
     height: 60vh;
  }
}

.services .intro-text {
  padding-top: 120px;
  text-align: center;
  font-size: 15px;
}

.services .intro-text #lnroHome {
  font-size: 40px;
  font-weight: 400;
}

.title {
  background-color: #006600;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding-left: 50px;
  padding-top: 15px;
  height: 10vh;
}

.title hr {
    display: block;
    width: 100px;
    color: #7CB63D;
    border-color: #7CB63D;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0.7em;
    margin-right: auto;
    border-width: 3px;
}

.details{
  font-size: 14px;
  font-weight: 400;
}

#content {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #006600;
}

#content1 {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #006600;
}

/* ======= NAVBAR ====== */

header {
  height: 60vh;
}

header .intro-text {
  padding-top: 110px;
  text-align: center;
}

@media (min-width: 1200px) {
  header .intro-text {
    margin-top: 30px;
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
  }
}

header .intro-text #lnroHome {
  font-size: 40px;
  font-weight: 400;
  color: #006600;
}

header .intro-text #lnroHome1 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 60px;
}

header .intro-text #lnroService {
  font-size: 15px;
  padding-left: 20px;
  padding-right: 15px;
  font-weight: 400;
  padding-bottom: 370px;
}

.logo {
  padding: 0px;
}

section {
  padding: 50px 0;
  background-color: #006600;
  background: linear-gradient(to top right, #006600, #7CB63D)
}

section #introBtn {
  background-color: white;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
  height: 6vh;
  color: #006600;
  margin-top: 20px;
  margin-left: 20px;
  border-color: #006600;
}


section #contactBtn {
  background-color: #006600;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
  height: 6vh;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 20px;
  border-color: #006600;
}


section h2.section-heading {
  font-size: 40px;
  text-align: left;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  text-transform: none;
  text-align: left;
  color: white;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 30px;
}

section h2.aboutIntro {
  font-size: 35px;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
}

section h3.aboutContent {
  font-size: 16px;
  color: white;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 30px;
}

section1 {
  padding: 50px 0;
}

section1 h2.section-heading {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #7CB63D;
}

section1 h4.section-subheading {
  font-size: 12px;
  margin-bottom: 50px;
}

section1 h3.section-content {
  font-size: 16px;
  padding-left: 70px;
  text-align: left;
  color: black;
  font-weight: 400;
  margin-bottom: 100px;
}

section1 #introBtn {
  background-color: #7CB63D;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
  height: 6vh;
  color: white;
  margin-bottom: 30px;
  border-color: #7CB63D;
}

section hr {
    display: block;
    width: 175px;
    color: #006600;
    border-color: #006600;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
}

.img-circle {
    border-radius: 50%;
    width: 200px;
   	height: 200px;
    border-color: #7CB63D;
}

footer {
  padding: 10px 0;
  text-align: center;
  background-color: #006600;
}

footer span.copyright {
  line-height: 20px;
  color: white;
  text-transform: uppercase;
  text-transform: none;
}

footer ul.quicklinks {
  margin-bottom: 0;
  color: white;
  line-height: 20px;
  text-transform: uppercase;
  text-transform: none;
}